:root {
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


body {
  margin: 0;
  background-image: url(/images/cine12.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

/* ######### Header ########## */

header {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
  width: 100%;
  z-index: 99;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.logo {
  color: white;
  width: 150px;
  font-size: 50px;
  text-shadow: 20px 10px 20px rgba(12, 150, 230, 0.486),
               20px -20px 20px rgba(58, 211, 20, 0.459),
              -20px 20px 20px rgba(20, 189, 211, 0.459),
              -20px -20px 20px rgba(12, 230, 30, 0.486);
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}

.lupa {
  width: 20px;
  margin-left: 7px;
  height: 20px;
  margin-right: 7px;
}

.boton-cerrar-sesion {
  border-radius: 50px;
  background-color: black;
  width: 150px;
  height: 40px;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.boton-cerrar-sesion:hover {
  background-color: white;
  color: black;
}

.barra-busqueda {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.barra-busqueda input {
  height: 40px;
}

.barra-busqueda a {
  text-decoration: none;
  color: white;
}
.barra-busqueda a:hover {
  text-decoration: none;
  color: black;
}
/* ######### section ########## */

section {
  display: inline-block;
  margin-top: 30px;
  flex: 1;
}


.contenido {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.film {

  justify-content: center;
  transition: .6s ease;
  width: 300px;
  height: 450px;
  flex: 1;
}
.film:hover {
  opacity: 50%;
}

/* ######### footer ########## */

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.contenido:hover .overlay {
  opacity: 1;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  text-shadow:   1px 1px 1px rgb(255, 255, 255),
                 1px -1px 1px rgb(255, 255, 255),
                -1px 1px 1px rgb(255, 255, 255),
                -1px -1px 1px rgb(255, 255, 255);
}





/* 
.seccion-film:hover {
  background-color: black;
} */

  





.cerrar-sesion:hover {
  background-color: gray;
  color: black;
}

.cerrar {
  display: flex;
  flex-direction: row;
  left: 50px;
}


.item {
    display: inline-block;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    color: white;
    justify-content: center;
    margin: 24px;
    text-decoration: none;
  }

  

  .item:hover {
    color: rgb(0, 0, 0);
  }




