:root {
    scroll-behavior: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


.contenido {
  display: inline-block;
  justify-content: center;
  align-self: center;
  align-items: center;
}


.seccion-film {
  display: inline-block;
  margin-left: 50px;
}


  
.film {
  opacity: 1;
  display: inline-block;
  justify-content: center;
  transition: .6s ease;
  width: 300px;
  height: 450px;
  margin-top: 125px;
}


.film:hover {
  opacity: 0.3;
  
}

.contenido:hover .overlay {
  opacity: 1;
}

.overlay {
  
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
} 

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.fondo {
    margin: 0;
    background-image: url(/images/cine12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
    background-attachment: fixed;
    
   
}



.barra {
    background-color:rgba(0, 0, 0, 0.342);
    /* height: 150px;
    width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    height: 150px;
    width: 100%;
    
}


.logo {
    color: white;
    width: 150px;
    font-size: 50px;
    margin-left: 50px;
    text-shadow: 20px 10px 20px rgba(12, 150, 230, 0.486),
                 20px -20px 20px rgba(58, 211, 20, 0.459),
                -20px 20px 20px rgba(20, 189, 211, 0.459),
                -20px -20px 20px rgba(12, 230, 30, 0.486);
    margin-top: 50px;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
}


/* .barra-navegacion {
    display: flex;
    flex-direction: row;
    
    height: 100px;
    width: 100%;
} */

a {
    text-decoration: none;
}

.cerrar-sesion {
    
    border-radius: 50px;
    background-color: black;
    color: white;
    margin-top: 50px;
    width: 150px;
    height: 40px;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.cerrar-sesion:hover {
  background-color: gray;
  color: black;
}

.cerrar {
  display: flex;
  flex-direction: row;
  left: 50px;
 
}



.item {
    display: inline-block;
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 65px;
    justify-content: center;
  }

  .item:hover {
    color: rgb(0, 0, 0);
  }


.item1 {
    margin-left: 25%;
  }
  
.item2 {
    margin-left: 40px;
  }

.item3 {
    margin-left: 40px;
}

.item4 {
    margin-left: 40px;
}

.busqueda {
    margin-left: 400px;
    width: 130px;
    height: 30px;
    margin-top: 55px;
    
}

.lupa {
    width: 20px;
    margin-left: 7px;
    margin-top: 55px;
    height: 20px;
}




